@{
    ViewBag.Title = "Home Page";
}

<br/>
<div class="jumbotron">
    <h1>Informatie</h1>
    <p class="lead">Hier komt wat info</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>wat?</h2>
        <p>
            Iets
        </p>        
    </div>
    <div class="col-md-4">
        <h2>wat?</h2>
        <p>Nog iets</p>        
    </div>
    <div class="col-md-4">
        <h2>Wat?</h2>
        <p>En nog iets?</p>        
    </div>
</div>